.content__header {
    height: 112px;
    display: flex;
    justify-content: center;
    margin: 45px 0;
}
.content__heading {
    line-height: 112px;
    background-color: orange;
}
.content__tinh-input {
    height: 100px;
    margin: 50px 0;
}
.content__tinh-input-space {
    margin: 10px 0;
}
.content__tinh {
    height: 200px;
    display: flex;
    justify-content: center;
}
.content__tinh-input-input {
    display: flex;
    justify-content: space-around;
}
.content__tinh-input input {
    width: 50px;
    height: 20px;
}
.content__tinh-output {
    display: flex;
}
.content__tinh-output-output {
    width: 50px;
    height: 20px;
    border: 1px solid black;

}
.content__hinh img {
    width: 200px;
}




.ke {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 7px solid black;
    border-radius: 50px;
}
.quantam {
    margin-top: 5px;
    margin-left: 6%;
    height: 110px;
    width: 100%;
}
.quantam ul li:first-child {
    margin-left: 50px;
    font-size: 35px;
    background: blue;
    border: 2px solid black;
    display: inline;
    border-radius: 10px;
}
.quantam ul li {
    display: block;
    height: 35px;
    margin-left: 100px;
    width: 100%;
    margin-top: 10px;
}
.quantam ul li a {
    line-height: 35px;
    font-size: 35px;
    color: black;
}
.quantam ul li img {
    height: 35px;
    width: 35px;
    vertical-align: middle;
}
.cach {
    width: 100%;
    height: 40px;
}